*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}
div.top-header{
    /* padding: 5%; */
}

header{
    background-color: #EAC926;
}

header div.logo{
    width: 50%;
}

header div.logo{
    /* padding: 10px; */
}
header nav{
    font-size: 12px;
}

header ul li{
    list-style-type: none;
}

.list li a{
    text-decoration: none;
    color: #000;
    /* display: none; */
}

header .form .input{
    background-color: #FFF;
    border: 1px solid #000;
    outline: none;
    color: #666;
    /* padding: 2px; */
}
header .form .submit{
    background-color: #FFF;
    border: 1px solid #000;
    color: #666;
    width: 10%;
}

.top-header p{
    width: 100%;
    text-align: center;
    /* margin-top: 10px; */
}

div.burger-menu{
    text-align: center;
    
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 25px;
    padding: 10px;
    margin: 20px;
    width: 30px;
}

.price{
    font-size: 18px;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

section h3 {
    font-size: 22px;
}

h3,
.description{
    color: #666;
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    border-top: 1px solid #ebebeb;
    padding: 15px;
}

footer {
    text-align: center;
    align-items: center;
    padding: 15px;
    background-color: #EAC926;
}

.F-icon {
    font-size: 2em;
    margin-bottom: 10px;
    color: #1259c3;
}



/**************** TABLET **************************/

@media (min-width: 480px){
    .top-header {
        /* padding: 10px; */
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
    }

    .nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }



    .list li{
        display:inline;
        padding-left:3px;
        padding-right:3px;
        
    }

    .burger-menu {
        display: none;
    }

}


@media (min-width: 780px){
    .products {
        display: flex; 
        flex-direction: row;
    }

    .product {
        margin: 5px;
    }

    .msj {
        display: flex;
        flex-direction: row;
    }

    .F-Copy {
        margin-top: 20px;
    }
}

@media (min-width: 800px) {
    .top-header {
        padding: 0;
    }
}